In [34]:
match_data = "match_data.csv"

In [35]:
import pandas as pd

In [36]:
df = pd.read_csv(match_data)

In [37]:
df.columns = ['RADIANT_WIN', 'RADIANT', 'DIRE']

In [38]:
df.head()

   RADIANT_WIN          RADIANT              DIRE
0         True   9,70,79,98,120     8,44,76,89,97
1         True  34,50,68,78,110   30,32,42,70,114
2         True   7,78,85,87,105  34,56,98,106,107
3         True   11,64,69,86,89    3,12,21,61,105
4        False    4,21,50,60,99     2,51,56,78,81

In [39]:
import json

json_path = "/home/hpham/hero.json"

def parse_hero_id():
    with open(json_path) as json_data:
        raw_json = json.load(json_data)
        heroes = raw_json['heroes']
        return sorted([x['id'] for x in heroes])

In [40]:
hero = parse_hero_id()
columns = [str(x) for x in hero]
columns = ['RADIANT_WIN'] + columns

In [41]:
training_df = pd.DataFrame(columns=columns)

In [42]:
training_df.fillna(0)

Empty DataFrame
Columns: [RADIANT_WIN, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...]
Index: []

[0 rows x 116 columns]

In [43]:
training_df['RADIANT_WIN'].fillna(True)

Series([], Name: RADIANT_WIN, dtype: object)

In [44]:
import csv

In [48]:
with open("match_data.csv", "r") as data:
    match_data = csv.reader(data)
    next(match_data, None)
    for r in match_data:
        matrix = {}
        radiant = r[1].split(",")
        dire = r[2].split(",")
    
        
        for h in hero:
            matrix[str(h)] = 0
        for h in radiant:
            matrix[str(h)] = 1
        for h in dire:
            matrix[str(h)] = -1
            
        keys = sorted(matrix.keys())
        
        value = [r[0]] + [matrix[x] for x in keys]
        
        df2 = pd.DataFrame(value, columns=columns)
        training_df.append(df2)

['9', '70', '79', '98', '120']
['8', '44', '76', '89', '97']
116 116

ValueError: Shape of passed values is (1, 116), indices imply (116, 116)